/*p {*/
/*    color: red;*/
/*}*/

/*h1 {*/
/*    font-style: italic;*/
/*    font-family: "Lucida Console", Courier, monospace;*/
/*}*/

/*#h1-first {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*.upper-ids {*/
/*    background-color: salmon;*/
/*}*/


/*!* CASCADE EXAMPLE*!*/
/*.cascade-class {*/
/*    color: aqua !important;*/
/*}*/

/*#cascade-id {*/
/*    color: blueviolet;*/
/*}*/

/*!* DESCENDANT SELECTOR *!*/
/*#my-div div {*/
/*    color: lightsalmon;*/
/*}*/

/*li {*/
/*     color: red;*/
/* }*/

/*ol li {*/
/*    color: black;*/
/*}*/

/*#first #second {*/
/*    color: red;*/
/*}*/

/*#first > #third {*/
/*    color: red;*/
/*}*/

/*div + p {*/
/*    color: red;*/
/*}*/

li, p {
    color: red;
}

/* Attribute selector*/
[class*="top"] {
    background: #faea05;
}


/*body {*/
/*    background: rgb(7,0,36);*/
/*    background: linear-gradient(90deg, rgba(7,0,36,1) 20%, rgba(255,0,0,1) 100%);*/
/*}*/


/* FONTS */
.ab-top-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: lighter;
    text-decoration: underline;
}

/* CSS BOX */
.xx-top-text {
    /*border-style: solid;*/
    border: 5px solid red;
    border-radius: 5px;
    text-align: right;
    max-width: 250px;
}

